/* From Uiverse.io by cssbuttons-io */ 
.button {
    	background-color: #277a4a;
        font-family: "Courier Prime", serif;
        a{
        text-decoration: none;
        --color: #ea216e;
    text-align: center;
    display: inline-block;
    width: 15em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 40px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 3px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 2.5em;
    border-radius: 60px;
    
    color: var(--color);
    }
    
 
  
  a:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 600px;
    width: 900px;
    border-radius: 20%;
  }
  
  a:hover {
    color: #ffffff;
  }
  
  a:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  a:hover:before {
    top: -30px;
    left: -30px;
  }
  
  a:active:before {
    background: #3a0ca3;
    transition: background 0s;
  }

  @media (max-width: 640px) {
    a{
        text-align: center;
    font-size: 1em;
    width: 80em;
    height: 2.6em;
    line-height: 2.5em;
    }
    a:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 600px;
        width: 900px;
        border-radius: 20%;
      }
      
      a:hover {
        color: #ffffff;
      }
      
      a:before {
        top: 100%;
        left: 100%;
        transition: all 0.7s;
      }
      
      a:hover:before {
        top: -30px;
        left: -30px;
      }
      
      a:active:before {
        background: #3a0ca3;
        transition: background 0s;
      }
    } 

    
}
  
